/* CONTENT */
section.content{
    background: var(--dark);
    border-right: 1px solid var(--segundo);
    margin: 0;
    width: 16%;
    margin-left: 2rem;
}

section.content h1{
    color: var(--light);
    text-align: center;
    font-weight: 50;
    margin-top: 1rem;
}
