section .main{
    background: var(--lightBG);
}

.container .main .header{
    background: var(--headerBG);
    height: 7%;
    padding: .5rem;
}

.container .main .contenido{
    margin: 2rem 2rem 2rem 1.5rem;
    height: 85%;
}

/* SEARCH */
.container .main .header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container .main .search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    
}



.container .main .search .btn{
    background: var(--headerBG);
    height: 30px;
    width: 30px;
    margin: 0 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 400ms;

    box-shadow: 3.5px 3.5px 7.5px var(--tercero), -2px -2px 6.5px var(--lightBG),
    inset 2px 2px 4px rgba(209, 217, 230, 0.2),
    inset -4px -4px 4px rgba(255, 255, 255, 0.2);

    border: 1px solid rgba(255, 255, 255, 0.3);
}


.container .main .search .btn i{
    font-size: 15px;
    color: var(--darkBG);
    transition: all 400ms;
}

.container .main .search .btn i:hover {
    transition: scale(0.96);
    color: aliceblue;
}

.container .main .search .btn:hover{
    box-shadow: 2px 1px 9px var(--tercero), -2px -2px 7.5px var(--lightBG),
    inset 2px 2px 8px rgba(209, 217, 230, 0.8),
    inset -4px -4px 4px rgba(255, 255, 255, 0.2);
}



/* PROFILE */
.container .main .header .profile{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.container .main .header .profile .profile_user{
    margin: 20px 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: justify;
    cursor: pointer;
}











section.main section.contenido .frame, .frame{
    height: 95%;
    width: 100%;
    border-radius: 5%;
    border: none;
}


