/* SIDE LEFT BAR */
section.side-left{
    border-right: 1px solid var(--segundo);
    margin: 0;
    width: 5%;
    position: fixed;
}

section.side-left .logo{
    padding-top: 1rem;
    background: var(--logo);
  
}

section.side-left .logo img{
    width: 50%;
    justify-content: center;
    padding: .3rem;
    margin:  0 1.5rem 1.5rem 1.5rem;
    
}

section.side-left .logo a img{
    background:var(--logo);
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius:100%;
    transition: all .3s ease;
    -webkit-transition:  all .3s ease;
    -moz-transition:  all .3s ease;
    -ms-transition:  all .3s ease;
    -o-transition:  all .3s ease
}



section.side-left .logo a:hover img{
    background:var(--segundo);
    border-radius: 80%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius:50%;
    transition: all .3s ease;
    -webkit-transition:  all .3s ease;
    -moz-transition:  all .3s ease;
    -ms-transition:  all .3s ease;
    -o-transition:  all .3s ease
}

section.side-left .side-nav{
    background: var(--dark);
    height: 81.5%;
    width: 5%;
    position: fixed;
    text-align: center;
}

section.side-left .side-nav a{
    display: block;
    line-height: 90px;
    color: var(--light);
    width: 100%;  
    margin-top: 1rem;  
}

section.side-left .side-nav a:hover{
    background: var(--segundo);
    transition: all .3s ease;
    -webkit-transition:  all .3s ease;
    -moz-transition:  all .3s ease;
    -ms-transition:  all .3s ease;
    -o-transition:  all .3s ease
}


section.side-left .side-nav .icon {
    cursor: pointer;
    display: inline-block;
    background-size: cover;
}


.icon-map:hover,.icon-map:focus {
    cursor: pointer;
    filter: invert(0%) sepia(0%) saturate(1000%) hue-rotate(0deg) brightness(10000%) contrast(100%);
    transition: all .3s ease;
    -webkit-transition:  all .3s ease;
    -moz-transition:  all .3s ease;
    -ms-transition:  all .3s ease;
    -o-transition:  all .3s ease
}








