@import 'utilities.css';
@import 'side-left.css';
@import 'content.css';
@import 'side-right.css';
@import 'components.css';
@import 'heatmap.css';

:root{
    --dark:#564563;
    --segundo:#8e80b0;
    --tercero:#b8b5b3;
    --cuarto:#cec7d6;
    --quinto:#d4d4e2;
    --sexto:#6f8ca1;
    --septimo:#8fb051;
    --light:#f2f0f7;
    --logo:#e54161;
}

/*
    font-family: 'Nerko One', cursive;
    font-family: 'Roboto', sans-serif;
*/

body{
    font-family: 'Roboto',sans-serif;
    background: var(--quinto);
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing:antialiased;
}

svg{
    cursor: pointer;
}

.site-main-wrapper{
    margin: 3rem 3rem 0;
    width: 95%;
    height: 90%;
    position: fixed;
}


