.neomorphic{
    /* border-radius: 50px; */
    background: var(--ligthBG);
    box-shadow:  8px 8px 50px var(--darkBG), 
                -8px -8px 50px var(--segundo);
    border-radius: .9rem; 

}

.flex{
    display: flex;
}

.flex-1{
    flex: 1;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

